$color-1: #f5fbef; // Ivory
$color-2: #20331e; // Dark Green
$color-3: #000000; // Black
$color-4: #314909; // lighter green
$color-5: #ffffff; // white

//**additional colors**//

$success: #6fce72; // green
<<<<<<< Updated upstream
//$alert: $color-3; // red
=======
// $alert: $color-3; // red
>>>>>>> Stashed changes
