$ivory: #F5FBEF; // Ivory
$dark-green: #20331E; // Dark Green
$color-3: #000000; // Black
$lighter-green: #314909; // lighter green
$color-5: #ffffff; // white

//**additional colors**//

$success: #6fce72; // green
$alert: $color-3; // red
