@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:wght@300&display=swap");
body {
  margin: 20px;
  padding: 0;
  background-color: #F5FBEF;
}

header,
.zen-resources {
  background-image: url(../images/forest.jpg);
  background-size: cover;
  background-position: center 20%;
  padding: 30px;
  color: #F5FBEF;
  border-radius: 5px;
}

header a,
header h3,
header h2,
.zen-resources a,
.zen-resources h3,
.zen-resources h2 {
  color: #F5FBEF;
}

.zen-resources {
  --border-width: 5px;
  position: relative;
  border-radius: var(--border-width);
}

.zen-resources::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(60deg, #000000, #20331E, #314909, yellow, #6FCE72, #F5FBEF, #FFFFFF);
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  -webkit-animation: moveGradient 4s alternate infinite;
          animation: moveGradient 4s alternate infinite;
}

@-webkit-keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

header,
.summary,
.select {
  text-align: center;
}

h2,
h3 {
  font-family: "Bebas Neue", cursive;
  color: #314909;
}

h1 {
  font-size: 40px;
  font-family: "Bebas Neue", cursive;
  line-height: 150px;
}

p,
a {
  font-family: "Merriweather", serif;
  text-decoration: none;
  color: #000000;
}

h2 {
  font-size: 20px;
  margin-bottom: 50px;
  font-weight: 100;
}

h3 {
  font-size: 25px;
  color: #314909;
}

nav ul {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 5px;
}

nav ul li:nth-child(odd) {
  -ms-grid-column: 1;
  grid-column: 1;
}

nav ul li:nth-child(even) {
  -ms-grid-column: 2;
  grid-column: 2;
}

.archives {
  visibility: hidden;
  margin: 0px;
  height: 0px;
}

@media only screen and (min-width: 60em) {
  .design-selection {
    position: fixed;
    top: 0;
    left: 0;
    width: 25px;
    height: 100%;
    padding: 25px;
    background: #20331E;
    overflow: hidden;
  }
  .design-selection a, .design-selection li, .design-selection h3 {
    display: none;
  }
  .design-selection:hover, .design-archives:hover {
    width: 250px;
    overflow: hidden;
    color: #F5FBEF;
    top: 0;
    left: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 100%;
  }
  .design-selection:hover a, .design-selection:hover li, .design-selection:hover h3, .design-archives:hover a, .design-archives:hover li, .design-archives:hover h3 {
    display: initial;
    color: #F5FBEF;
    text-decoration: none;
  }
  .design-archives a {
    display: initial;
    color: #F5FBEF;
    padding-left: 55px;
  }
  .next {
    position: fixed;
    top: 450px;
    left: 0;
    width: 250px;
    height: 100%;
    padding: 25px;
  }
  .viewall {
    position: fixed;
    top: 475px;
    left: 0;
    width: 250px;
    height: 100%;
    padding: 25px;
  }
  body {
    margin-left: 350px;
    margin-right: 10%;
    max-width: 80%;
  }
  header,
  .summary,
  .select {
    text-align: left;
  }
  .summary {
    margin-bottom: 100px;
  }
  li {
    display: inline;
  }
}
/*# sourceMappingURL=main.css.map */