@import "color";
@import "typography";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:wght@300&display=swap");

body {
  margin: 20px;
  padding: 0;
  background-color: $ivory;
}

header,
.zen-resources{
  background-image: url(../images/forest.jpg);
  background-size: cover;
  background-position: center 20%;
  color: $ivory;
  a,
  h3,
  h2 {
    color: $ivory;
  }

}

header,
.summary,
.select {
  text-align: center;
}

h2,
h3 {
  font-family: $secondary-font;
  color: $lighter-green;
}


h1 {
  font-size: 40px;
  font-family: $secondary-font;
  line-height: 150px;
}

p,
a {
  font-family: $primary-font;
  text-decoration: none;
  color: $black;
}

h2 {
  font-size: 20px;
  margin-bottom: 50px;
  font-weight: 100;
}

h3 {
  font-size: 25px;
  color:$lighter-green;
}

nav ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  li:nth-child(odd) {
    grid-column: 1;
  }
  li:nth-child(even) {
    grid-column: 2;
  }
}

.archives {
  visibility: hidden;
  margin: 0px;
  height: 0px;
}

@media only screen and (min-width: 60em) {
  .design-selection {
    position: fixed;
    top: 0;
    left: 0;
    width: 25px;
    height: 100%;
    padding: 25px;
    background: $dark-green;
    overflow:hidden;
    a, li, h3 {
      display: none;
    }
  }

  .design-selection:hover, .design-archives:hover {
    width: 250px;
    overflow: hidden;
    color: $ivory;
    top: 0;
    left: 0;
    transition: all 0.5s ease; 
    height: 100%;
    a, li, h3 {
      display: initial;
      color: $ivory;
      text-decoration: none;
    }
  }

  .design-archives a {
    display: initial;
    color: $ivory;
    padding-left: 55px;
  }
  .next {
    position: fixed;
    top: 450px;
    left: 0;
    width: 250px;
    height: 100%;
    padding: 25px;
  }

  .viewall {
    position: fixed;
    top: 475px;
    left: 0;
    width: 250px;
    height: 100%;
    padding: 25px;
  }
  body {
    margin-left: 350px;
    margin-right: 10%;
    max-width: 80%;
  }

  header,
  .summary,
  .select {
    text-align: left;
  }

  .summary {
    margin-bottom: 100px;
  }
  li {
    display: inline;
  }
}
